<div class="container" id="header">
    <br />
    <a class="header-link" href="/"><h1>Edud<i class="fas fa-heart"></i>te</h1></a>
    <a class="header-link" href="/"></a><h3>Connecting Students to Tutors</h3></a>
    <ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/"><i class="fas fa-home"></i> <b>Home</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fas fa-address-card"></i> <b>About</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/cpondoc"><i class="fab fa-github"></i> <b>See Code</b></a>
    </li>
    </ul>
</div>