{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block body %}
    <div class="container">
        <h2>About</h2>
        <br />
        <h4>Motivation</h4>
        <p>This project was created to help students find peer tutors at their school. As someone who oversees a multitutde of honor societies, I know how hard it is to get tutoring hours that are meaningful (by meaningful, I mean those where you don't just goof off with your friends.</p>
        <p>The reality is that everyone can benefit from even a little bit of tutoring. If this were not the case, then pretty much everyone would have 100s and As in all of their classes. For many students, it can be intimidating to approach their own teachers and admit that they need help. Thus, by making our program completely peer-to-peer, we hope to alleviate this issue.</p>
        <p>See <a id="p2p-info" href="http://www.nea.org/tools/35542.htm">here</a> for some benefits of peer-to-peer tutoring.</p>
        <br />
        <h4>Contact</h4>
        <p>This project was created by Chris Pondoc, a Senior at Frederick High School. To get in touch with him, please email him at <a href="mailto:chris.pondoc@comcast.net">chris.pondoc@comcast.net</a>.</p>
    </div>
{% endblock %}